<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Tema Cookies</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="../model/storage.js"></script>
    <script src="../model/weatherCall.js"></script>
    <script src="../view/weatherDetails.js"></script>
</head>

<body>

    <h1><center>Your Weather</center></h1>
    <h2>Choose your temperature scale</h2>
    <div>
        <input type="button" value="Celsius" id="celsiusButtonId"> 
        <input type="button" value="Fahrenheit" id="fahrenheitButtonId">
    </div>
    <div id="weatherDetails">
        <!-- content will be generated here -->
    </div>

</body>
</html>